body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--main-font);
}
.body--up {
  background-image: url('../images/bg-mobile/bg-top.svg'), url('../images/bg-mobile/bg-bottom.svg');
  background-position: 50% 0%, 50% 100%;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 450px) {
  .hero {
    background-image: url('../images/bg-mobile/bg-top.svg'),
      url('../images/bg-mobile/bg-bottom.svg');
  }
}
