body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--main-font);
}
.body--up {
  background-image: url('../images/bg-mobile/bg-top.svg'), url('../images/bg-mobile/bg-bottom.svg');
  background-position: 50% 0%, 50% 95%;
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 400px) {
  .body--up {
    background-image: url('../images/bg-tablet/bg-top.svg'),
      url('../images/bg-tablet/bg-bottom.svg');
    background-position: 50% 0%, 50% 90%;
  }
}

@media screen and (min-width: 600px) {
  .body--up {
    background-image: url('../images/bg-desktop/bg-top.svg'),
      url('../images/bg-desktop/bg-bottom.svg');
    background-position: 50% 0%, 50% 90%;
  }
}
