html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

// для  всех  h2 на сайте
.title {
  @media screen and (max-width: 1279px) {
    font-size: 24px;
    line-height: 2.7;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
    line-height: 1.8;
  }
  font-family: Caveat Brush;
}
