html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: Caveat Brush;
}

@media screen and (max-width: 1279px) {
  .title {
    font-size: 24px;
    line-height: 2.7;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 36px;
    line-height: 1.8;
  }
}

.btn-read-more {
  font-family: Caveat Brush;
  font-size: 18px;
  line-height: 1.2;
  padding-top: 19px;
  padding-bottom: 21px;
  color: #ab816c;
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--main-font);
}

.body--bg {
  background-image: url("../images/header-mobile/png/pic-donuts.png"), url("../images/bg-mobile/bg-top.svg"), url("../images/contact-mobile/png/flour.png"), url("../images/bg-mobile/bg-bottom.svg");
  background-image: url("../images/header-mobile/webp/pic-donuts.webp"), url("../images/bg-mobile/bg-top.svg"), url("../images/contact-mobile/webp/flour.webp"), url("../images/bg-mobile/bg-bottom.svg");
  background-position: 0% 0%, 50% 0%, 100% 100%, 50% 95%;
  background-size: 116px 112px, 100% auto, 87px 64px, 100% auto;
  background-repeat: no-repeat;
}

@media screen and (min-width: 400px) {
  .body--bg {
    background-position: 0% 0%, 50% 0%, 100% 100%, 50% 90%;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 400px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 400px), (min-resolution: 192dpi) and (min-width: 400px), (min-resolution: 2dppx) and (min-width: 400px) {
  .body--bg {
    background-image: url("../images/header-mobile/png/pic-donuts@2x.png"), url("../images/bg-mobile/bg-top.svg"), url("../images/contact-mobile/png/flour@2x.png"), url("../images/bg-mobile/bg-bottom.svg");
    background-image: url("../images/header-mobile/webp/pic-donuts@2x.webp"), url("../images/bg-mobile/bg-top.svg"), url("../images/contact-mobile/webp/flour@2x.webp"), url("../images/bg-mobile/bg-bottom.svg");
  }
}

@media screen and (min-width: 600px) {
  .body--bg {
    background-position: 0% 0%, 50% -15%, 100% 100%, 50% 130%;
    background-size: 230px 220px, 100% auto, 148px 115px, 100% auto;
  }
}

@media screen and (min-width: 768px) {
  .body--bg {
    background-image: url("../images/header-tablet/png/pic-donuts.png"), url("../images/bg-tablet/bg-top.svg"), url("../images/contact-tablet/png/flour.png"), url("../images/bg-tablet/bg-bottom.svg");
    background-image: url("../images/header-tablet/webp/pic-donuts.webp"), url("../images/bg-tablet/bg-top.svg"), url("../images/contact-tablet/webp/flour.webp"), url("../images/bg-tablet/bg-bottom.svg");
    background-position: 65% 0%, 50% 0%, 100% 100%, 50% 90%;
    background-size: 376px 360px, 100% auto, 148px 140px, 100% auto;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .body--bg {
    background-image: url("../images/header-tablet/png/pic-donuts@2x.png"), url("../images/bg-tablet/bg-top.svg"), url("../images/contact-tablet/png/flour@2x.png"), url("../images/bg-tablet/bg-bottom.svg");
    background-image: url("../images/header-tablet/webp/pic-donuts@2x.webp"), url("../images/bg-tablet/bg-top.svg"), url("../images/contact-tablet/webp/flour@2x.webp"), url("../images/bg-tablet/bg-bottom.svg");
  }
}

@media screen and (min-width: 900px) {
  .body--bg {
    background-position: 65% 0%, 50% 0%, 100% 100%, 50% 90%;
    background-size: 376px 360px, 100% auto, 148px 140px, 100% auto;
  }
}

@media screen and (min-width: 1280px) {
  .body--bg {
    background-image: url("../images/header-desktop/png/spoon.png"), url("../images/header-desktop/png/pic-donuts.png"), url("../images/bg-desktop/bg-top.svg"), url("../images/contact-desktop/png/flour.png"), url("../images/bg-desktop/bg-bottom.svg");
    background-image: url("../images/header-desktop/webp/spoon.webp"), url("../images/header-desktop/webp/pic-donuts.webp"), url("../images/bg-desktop/bg-top.svg"), url("../images/contact-desktop/webp/flour.webp"), url("../images/bg-desktop/bg-bottom.svg");
    background-position: 0% 165px, 100% 0%, 50% 0%, 100% 100%, 50% 90%;
    background-size: 122px 368px, 650px auto, 100% auto, 320px 190px, 100% auto;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), (min-resolution: 192dpi) and (min-width: 1280px), (min-resolution: 2dppx) and (min-width: 1280px) {
  .body--bg {
    background-image: url("../images/header-desktop/png/spoon@2x.png"), url("../images/header-desktop/png/pic-donuts@2x.png"), url("../images/bg-desktop/bg-top.svg"), url("../images/contact-desktop/png/flour@2x.png"), url("../images/bg-desktop/bg-bottom.svg");
    background-image: url("../images/header-desktop/webp/spoon@2x.webp"), url("../images/header-desktop/webp/pic-donuts@2x.webp"), url("../images/bg-desktop/bg-top.svg"), url("../images/contact-desktop/webp/flour@2x.webp"), url("../images/bg-desktop/bg-bottom.svg");
  }
}

:root {
  /* ------ COLORS -------- */
  --color-main: #2e2520;
  --color-accent-dark: #000000;
  --color-accent-brown: #876655;
  --color-font-button: #ffffff;
  --color-back-ground: #e5e5e5;
  --color-button: #ab816c;
  --color-bg-menu: rgba(254, 243, 228, 0.9);
  /*------ TEXT -------*/
  --main-font: Montserrat, sans-serif;
  --title-font: Caveat Brush, cursive;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  display: block;
  fill: var(--color-main);
}

.logo__icon--nav {
  width: 96px;
  height: 44px;
}

@media screen and (min-width: 1280px) {
  .logo__icon--nav {
    width: 158px;
    height: 70px;
  }
}

.logo__icon--menu {
  width: 190px;
  height: 85px;
}

.social-icon__twitter {
  width: 19px;
  height: 15px;
  fill: var(--color-main);
}

@media screen and (min-width: 1280px) {
  .social-icon__twitter {
    width: 24px;
    height: 19px;
  }
}

.social-icon__instagram {
  width: 15px;
  height: 15px;
  fill: var(--color-main);
}

@media screen and (min-width: 1280px) {
  .social-icon__instagram {
    width: 24px;
    height: 19px;
  }
}

.social-icon__facebook {
  width: 8px;
  height: 15px;
  fill: var(--color-main);
}

@media screen and (min-width: 1280px) {
  .social-icon__facebook {
    width: 24px;
    height: 19px;
  }
}

.hero-flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-flex__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 68px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-flex__container {
    padding-left: 230px;
    padding-bottom: 80px;
  }
}

.hero-title {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
}

.hero-title__position {
  margin-bottom: 4px;
}

@media screen and (min-width: 1280px) {
  .hero-title__position {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    line-height: 1.01;
  }
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.hero-text__position {
  margin-bottom: 38px;
}

@media screen and (min-width: 1280px) {
  .hero-text {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 26px;
  }
}

.button-position {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .button-position {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button-position {
    margin-bottom: 65px;
  }
}

.hero-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-social__item:not(:last-child) {
  margin-right: 10px;
}

.button {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 145px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  font-family: Caveat Brush;
  border-radius: 25px;
  border-color: transparent;
  color: #ffffff;
  background-color: var(--color-button);
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .button {
    width: 158px;
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
}

.button:hover, .button:focus, .button:active {
  background-color: var(--color-accent-brown);
}

.aboutus__title {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--color-main);
}

@media screen and (min-width: 768px) {
  .aboutus__title {
    text-align: left;
  }
}

.aboutus__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  color: #2e2520;
}

.aboutus__btn-read-more {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .aboutus__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 690px;
  }
  .aboutus__content {
    margin-left: 25px;
    width: 336px;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 19px;
}

.contact__head {
  font-family: var(--title-font);
  font-weight: normal;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .contact__head {
    font-size: 36px;
    line-height: 1.8;
  }
}

.contect__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 4.06;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .contect__text {
    font-size: 18px;
    line-height: 3.6;
  }
}

.contact-form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ab816c;
  background-color: transparent;
  outline: none;
}

.contact-form__input::-webkit-input-placeholder {
  height: 22px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form__input:-ms-input-placeholder {
  height: 22px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form__input::-ms-input-placeholder {
  height: 22px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form__input::placeholder {
  height: 22px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(171, 129, 108, 0.5);
}

.contact-input__position {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contact-input__position {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-input__position {
    width: 430px;
  }
}

.contact-form__message {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ab816c;
  background-color: transparent;
  outline: none;
}

.contact-form__message::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form__message:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form__message::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(171, 129, 108, 0.5);
}

.contact-form__message::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(171, 129, 108, 0.5);
}

.contact-message__position {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .contact-message__position {
    width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-message__position {
    width: 430px;
  }
}

.social-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  margin-bottom: 34px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.social-list__twitter {
  margin-right: 8px;
}

.social-list__instagram {
  margin-right: 10px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
}

.address__link {
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
}

.address__icon {
  margin-right: 3px;
}

.nav {
  position: relative;
  height: 80px;
}

@media screen and (min-width: 1280px) {
  .nav {
    height: 160px;
  }
}

.logo__nav--position {
  position: absolute;
  top: 7px;
  left: 50%;
}

@media screen and (max-width: 767.98px) {
  .logo__nav--position {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media screen and (min-width: 768px) {
  .logo__nav--position {
    top: 27px;
    left: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .logo__nav--position {
    top: 30px;
    left: 230px;
  }
}

@media screen and (max-width: 1279.98px) {
  .menu-desktop {
    display: none;
  }
  .button__nav {
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .icon-open {
    fill: var(--color-main);
  }
  .icon-open:hover, .icon-open:focus {
    fill: var(--color-accent-brown);
  }
}

.button__nav {
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .button__nav {
    top: 27px;
    right: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-desktop {
    display: block;
  }
  .button__nav {
    display: none;
  }
}

.menu-desktop__nav .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 425px;
  padding-top: 52px;
}

.menu-desktop__nav .site-nav__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.menu-desktop__nav .site-nav__item .link {
  color: var(--color-main);
}

.menu-desktop__nav .site-nav__item .link:hover, .menu-desktop__nav .site-nav__item .link:focus {
  color: var(--color-accent-brown);
}

.menu-desktop__nav .site-nav__item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 1279.98px) {
  .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(254, 243, 228, 0.9);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 500ms linear;
    transition: -webkit-transform 500ms linear;
    transition: transform 500ms linear;
    transition: transform 500ms linear, -webkit-transform 500ms linear;
  }
  .menu-mobile_container {
    position: relative;
    padding: 146px 104px;
    text-align: center;
    overflow-y: auto;
  }
  .logo__menu--position {
    position: absolute;
    top: 23px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 1279.98px) and (min-width: 768px) {
  .logo__menu--position {
    top: 24px;
  }
}

@media screen and (max-width: 1279.98px) {
  .menu-mobile__close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 40px;
    height: 40px;
    fill: var(--color-main);
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .menu-mobile__close-btn:hover, .menu-mobile__close-btn:focus {
    fill: var(--color-accent-brown);
  }
}

@media screen and (max-width: 1279.98px) and (min-width: 768px) {
  .menu-mobile__close-btn {
    top: 24px;
    right: 68px;
  }
}

@media screen and (max-width: 1279.98px) {
  .is-open {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (min-width: 1280px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile__nav .site-nav__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.menu-mobile__nav .site-nav__item .link {
  color: var(--color-main);
}

.menu-mobile__nav .site-nav__item .link:hover, .menu-mobile__nav .site-nav__item .link:focus {
  color: var(--color-accent-brown);
}

.menu-mobile__nav .site-nav__item:not(:last-child) {
  margin-bottom: 34px;
}

@media screen and (min-width: 768px) {
  .menu-mobile__nav .site-nav__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.program__title-wraper {
  text-align: center;
}

.program__paragraph {
  margin-bottom: 10px;
}

.program__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.program__btn-read-more {
  margin-bottom: 37px;
}

.program__text-read-more {
  display: none;
}

.program__list-greed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bg-img-donut-black::before {
  content: '';
  position: absolute;
  top: calc(-25%);
  min-width: 76px;
  min-height: 84px;
  background-image: url("../images/program-mobile/png/program1.png");
}

.bg-img-donut-white::before {
  content: '';
  position: absolute;
  top: calc(-25%);
  min-width: 64px;
  min-height: 71px;
  background-image: url("../images/program-mobile/png/program2.png");
}

.bg-img-donut-grey::before {
  content: '';
  position: absolute;
  top: calc(-25%);
  min-width: 69px;
  min-height: 76px;
  background-image: url("../images/program-mobile/png/program3.png");
}

.bg-img-donut-brown::before {
  content: '';
  position: absolute;
  top: calc(-25%);
  min-width: 65px;
  min-height: 72px;
  background-image: url("../images/program-mobile/png/program4.png");
}

.program__list-greed-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-preferred-size: calc((100% - 6px) / 2);
      flex-basis: calc((100% - 6px) / 2);
  border-radius: 50%;
  min-height: 142px;
  background-color: #fef3e4;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

.program__list-greed-item:not(:nth-child(2n)) {
  margin-right: 6px;
  margin-bottom: 66px;
}

.program__list-greed-item:nth-child(2n) {
  margin-top: 66px;
}

.program__list-greed-item-wraper {
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__list-greed-item-title {
  margin-bottom: 13px;
  font-family: Caveat Brush;
  font-size: 18px;
  line-height: 1.27;
}

.program__list-greed-item-paragraph {
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-accent-dark);
}

.paragraph-icon-hat {
  margin-bottom: 15px;
}

.paragraph-icon-people {
  margin-bottom: 13px;
}

.paragraph-icon-clock {
  margin-bottom: 12px;
}

.paragraph-icon-chat {
  margin-bottom: 15px;
}

.program__list-greed-item-icon-hat {
  width: 19px;
  height: 18px;
}

.program__list-greed-item-icon-people {
  width: 20px;
  height: 18px;
}

.program__list-greed-item-icon-clock {
  width: 19px;
  height: 19px;
}

.program__list-greed-item-icon-chat {
  width: 24px;
  height: 16px;
}

.registration {
  padding-top: 15px;
}

.registration__wrapper {
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
  padding-bottom: 63px;
  background-color: #fffff9;
}

.registration__title {
  margin-bottom: 11px;
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  color: var(--color-main);
}

.registration__date {
  display: block;
  margin: 0 auto;
  max-width: 120px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--color-main);
}

.registration__place {
  display: block;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--color-main);
}

.registration__cost {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 120px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: var(--color-main);
}

.registration__form {
  text-align: center;
  padding-left: 12px;
  padding-right: 13px;
}

.registration__form::before {
  content: '';
  display: block;
  width: 265px;
  margin: 0 auto;
  border: 1px solid rgba(171, 129, 108, 0.5);
  margin-bottom: 11px;
}

.reg-form__description {
  max-width: 220px;
  margin: 0 auto 17px auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-main);
}

.reg-form__input {
  display: block;
  margin: 0 auto 25px auto;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-main);
  border: none;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
}

.reg-form__input::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reg-form__input:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reg-form__input::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reg-form__input::placeholder {
  color: rgba(171, 129, 108, 0.5);
}

.reviews__wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 47px;
}

.reviews__title {
  font-family: var(--title-font);
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-main);
  margin-bottom: 14px;
}

.reviews__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  border-radius: 50%;
}

.rate__icon {
  margin-bottom: 9px;
}

.reviews__name {
  margin-bottom: 9px;
  font-family: var(--main-font);
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-main);
}

.reviews__item_elisabeth,
.reviews__item_john {
  display: none;
}
/*# sourceMappingURL=main.css.map */