<form action="#" class="contact container">
  <h2 class="contact__head">Contact</h2>
  <p>We will answer any question!</p>
  <label class="contact__field">
    <span class="contact__input--wrapper">
      <input
        type="email"
        name="user-email"
        class="contact-form__input"
        placeholder="email"
        required
      />
    </span>
  </label>
  <label class="contact-form__field">
    <textarea
      name="user-message"
      class="contact-form__message"
      placeholder="Type your question"
    ></textarea>
  </label>
  <button type="submit" class="contact__btn">Send</button>
</form>
