<ul class="list">
    <li>
        <a class="link" target="blank" href="https://twitter.com/">
            <svg class="icon_twitter" width="19px" height="15px">
                <use href="./images/sprite/sprite.svg#icon-twitter"></use>
            </svg>
        </a>
    </li>
    <li>
        <a class="link" target="blank" href="https://www.facebook.com/">
            <svg class="icon_instagram" width="15px" height="15px">
                <use href="./images/sprite/sprite.svg#icon-instagram"></use>
            </svg>
            
        </a>
    </li>
    <li>
        <a class="link" target="blank" href="https://www.instagram.com/">
            <svg class="icon_facebook" width="15px" height="15px">
                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
</ul>
<address>
    <ul>
        <li>
            <a class="link" href="tel:9102228855">(910)222-8855</a>
        </li>
        <li>
            <a class="link" target="blank" href="https://goo.gl/maps/mZk5CvSxshd8X4zr7">New York</a>
        </li>
    </ul>
</address>