<div class="container">
    <div class="social-list__wrapper">
        <ul class="list social-list">
            <li class="item social-list__twitter">
                <a class="link" target="blank" href="https://twitter.com/">
                    <svg class="social-icon__twitter">
                        <use href="./images/sprite/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="item social-list__instagram">
                <a class="link" target="blank" href="https://www.facebook.com/">
                    <svg class="social-icon__instagram">
                        <use href="./images/sprite/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="item social-list__facebook">
                <a class="link" target="blank" href="https://www.instagram.com/">
                    <svg class="social-icon__facebook">
                        <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <address>
        <ul class="list address">
            <li class="item address__item">
                <a class="link address__link" href="tel:9102228855">
                    <svg class="address__icon" width="13px" height="13px">
                        <use href="./images/sprite/sprite.svg#icon-phone"></use>
                    </svg>(910)222-8855</a>
            </li>
            <li class="item address__item">
                <a class="link address__link" target="blank" href="https://goo.gl/maps/mZk5CvSxshd8X4zr7">
                    <svg class="address__icon" width="11px" height="14.5px">
                    <use href="./images/sprite/sprite.svg#icon-group"></use>
                </svg>New York</a>
            </li>
        </ul>
    </address>
</div>