<section class="hero-section">
  <div class="container hero-flex__container">
    <h1 class="hero-title hero-title__position">
      Donut Masterclass <br />
      with the Donut King
    </h1>
    <p class="hero-text hero-text__position">Hosted by Eva Green</p>
    <button type="button" class="button button-position">register</button>
    <ul class="hero-social__list list">
      <li class="hero-social__item">
        <a href="" class="hero-social__link">
          <svg class="hero-social__icon">
            <use href="./images/sprite/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a href="" class="hero-social__link">
          <svg class="hero-social__icon">
            <use href="./images/sprite/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a href="" class="hero-social__link">
          <svg class="hero-social__icon">
            <use href="./images/sprite/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
