<section class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list__item">
        <picture class="picture">
          <source
            srcset="
              ./images/review-desktop/webp/John.webp    1x,
              ./images/review-desktop/webp/John@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-desktop/jpg/John.jpg    1x,
              ./images/review-desktop/jpg/John@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/review-tablet/webp/John.webp    1x,
              ./images/review-tablet/webp/John@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-tablet/jpg/John.jpg    1x,
              ./images/review-tablet/jpg/John@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/review-mobile/webp/john.webp    1x,
              ./images/review-mobile/webp/John@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-mobile/jpg/john.jpg    1x,
              ./images/review-mobile/jpg/John@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/review-desktop/jpg/John.jpg" alt="John" />
        </picture>
        <p class="reviews-list__text">John</p>
        <p class="reviews-description">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </li>
    </ul>
    <ul class="reviews-list">
      <li class="reviews-list__item">
        <picture class="picture">
          <source
            srcset="
              ./images/review-desktop/webp/Will.webp    1x,
              ./images/review-desktop/webp/Will@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-desktop/jpg/Will.jpg    1x,
              ./images/review-desktop/jpg/Will@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/review-tablet/webp/will.webp    1x,
              ./images/review-tablet/webp/will@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-tablet/jpg/will.jpg    1x,
              ./images/review-tablet/jpg/will@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/review-mobile/webp/will.webp    1x,
              ./images/review-mobile/webp/will@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-mobile/jpg/will.jpg    1x,
              ./images/review-mobile/jpg/will@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/review-desktop/jpg/Will.jpg" alt="Will" />
        </picture>
        <p class="reviews-list__text">Will</p>
        <p class="reviews-description">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </li>
    </ul>
    <ul class="reviews-list">
      <li class="reviews-list__item">
        <picture class="picture">
          <source
            srcset="
              ./images/review-desktop/webp/Elisabeth.webp    1x,
              ./images/review-desktop/webp/Elisabeth@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-desktop/jpg/Elisabeth.jpg    1x,
              ./images/review-desktop/jpg/Elisabeth@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./images/review-tablet/webp/elisabeth.webp    1x,
              ./images/review-tablet/webp/elisabeth@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-tablet/jpg/elisabeth.jpg    1x,
              ./images/review-tablet/jpg/elisabeth@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/review-mobile/webp/elisabeth.webp    1x,
              ./images/review-mobile/webp/elisabeth@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/review-mobile/jpg/elisabeth.jpg    1x,
              ./images/review-mobile/jpg/elisabeth@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/review-desktop/jpg/Elisabeth.jpg" alt="Will" />
        </picture>
        <p class="reviews-list__text">Elisabeth</p>
        <p class="reviews-description">
          Last time I have visited a cooking course by Eva I was impressed with the way she
          explained everything to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen! Thank you so much for the masterclass!
          Looking forward to the next one and highly recommend it to everyone!
        </p>
      </li>
    </ul>
  </div>
</section>
